
.wrapper {
  height: 200px;
  background-image: url('https://rentaride-customer.test.odm.bmw-fleet.net/assets/media/images/bikes/tiles/R1250GSNEWMODEL.png');
  background-repeat: no-repeat;
  background-position: center;
  /* width: 200px; */
  width: 250px;
  /* cursor: crosshair; */
  cursor:url('http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif'), crosshair;
}
.grid-cells {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}
.cell {
  border: 1px solid transparent;
  /* padding: 10px; */
  /* width: 20px; */
  /* height: 20px; */
  font-size: 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
}
.cell i {
  /* position: absolute; */
  font-size: 20px;
  align-items: center;
  justify-items: center;
  color: transparent
}