
.wrapper {
  height: 130px;
  background-image: url('./BMWbikeDamage.png');
  background-repeat: no-repeat;
  background-position: center;
  /* width: 200px; */
  width: 350px;
  background-size: contain;
  /* cursor: crosshair; */
  cursor:url('./BMWbikeDamage.png'), crosshair;
}
.grid-cells {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}
.cell {
  border: 1px solid transparent;
  /* padding: 10px; */
  /* width: 20px; */
  /* height: 20px; */
  font-size: 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 10.5px; /* container heigth / no. of rows */
}
.cell i {
  color: transparent;
}